@ipadTall: ~"only screen and (min-width:600px) and (max-width:851px) and (orientation:portrait)";
@ipadWide: ~"only screen and (max-width:1024px) and (orientation:landscape)";
@yellow: #f1b208;
@media @ipadTall{

	.content{
		.home{
			h3{
				margin-top:4%;
				
			}
			.poster{
				width: 44%;
				height: auto;
				img{
					&.tall{
						width: 100%;
						height: auto;
					}
				}
			}
		}
		.page{
			.static{
				width: 90%;
				left: 5%;
				position: relative;
				&:after{
					content:"";
					display: table;
					clear: both;
				}
				.logo{
				    margin: 10px auto;
				}
				.menu{
					margin: 0 auto;
					padding: 0;
					width: 80%;
					.nav{
						font-size:18px;
					    display: flex;
    					justify-content: space-between;
						> li {
							
							display: inline-block;
							vertical-align: top;
							
							&.current{
								
								padding-left:0;
								.sub-nav{
									font-size:0.6em;
								}
							}
							&.current:before{
								display: none;
							}
						}

					}
				}

			}
			.subpage{
				&.photos{
					.main{
						width: 80%;	
						left: 10%;
					}
				}
				&.landing{
					.laurels{
						img{
							width: 32.2%;
						}
					}
				}
			}
			.col.right{
				width: 80%;
				left: 14%;
				position: relative;
				right:0;
				margin-top:25%;
				> div {
					.bio{
						font-size:13px;
					}
				}
			}
		}
		.bilby{
			.static{
				margin-left:0vw;
				
				.logo{
					width: 40%;
					padding-top:20%;
					
				}
				
					
				.menu{
				
					
					
					.nav > li{
						
						&.current{
							padding: 0;
							.sub-nav{
								font-size:0.5em;
							}
						}
						&.current:before{
							display: none !important;
						}
					}
				}
			}
			.landing{
				.laurels{
			    	top: 24%;
				    width: 80%;
				    left: 10%;
				    max-width: initial;
				    right: initial;
				}
			}
			.filmmakers{
				.col.right{
					margin-top: 40%;
				}
			}
		}
		.bird-karma{
			.static{
				margin: 0 auto;
				.logo{
					width: 50%;
					padding-top:14%;
				}
				.menu{
					margin: 1% auto 0;
					

					.nav{
						> li.current{
							text-shadow:0px 0px 1px @yellow;
						}
						li.current{
							color: #fff;
							> .sub-nav > li.current{
								color: #fff;
							}
						}
					}
				}
			}
			
			.left.col{
				padding-left:3%;
			}
			.landing{
				.laurels{
				    width: 66%;
				    max-width: inherit;
				    top: 21%;
				}
			}
		}
	}
}