@ipadTall: ~"only screen and (min-width:600px) and (max-width:851px) and (orientation:portrait)";
@ipadWide: ~"only screen and (max-width:1024px) and (orientation:landscape)";
@yellow: #f1b208;
@media @ipadTall{

	.content{
		.home{
			h3{
				margin-top:4%;
				font-size:25px;
			}
			.poster{
				width: 44%;
				height: auto;
				img{
					&.tall{
						width: 100%;
						height: auto;
					}
				}
			}
		}
		.page{
			.static{
				width: 96vw;
				position: relative;
				&:after{
					content:"";
					display: table;
					clear: both;
				}
				.logo{
					float: left;
				}
				.menu{
					float: left;
					padding: 0;
					margin-left: 4%;
					.nav{
						font-size:18px;
						> li {
							
							display: inline-block;
							vertical-align: top;
							margin-right:5%;
							&.current{
								
								padding-left:0;
								.sub-nav{
									font-size:0.6em;
								}
							}
							&.current:before{
								display: none;
							}
						}

					}
				}

			}
			.subpage{
				&.photos{
					.arrow{
						bottom:initial;
					    top: 50%;
	    				transform: translateY(-50%);
	    				width: 50px;
	    				height: 50px;
	    				&.left{
	    					left:38px;
	    				}
	    			}
				}
			}
			.col.right{
				width: 90%;
				left: 5%;
				position: relative;
				right:0;
				margin-top:25%;
				> div {
					.bio{
						font-size:13px;
					}
				}
			}
		}
		.bilby{
			.static{
				margin-left:4vw;
				
				.logo{
					width: 20%;
					padding-top:10%;
					
				}
				
					
				.menu{
					float: left;
					margin-left:6%;
					margin-top:3%;
					width: 74%;
					.nav > li{
						
						&.current{
							padding: 0;
							.sub-nav{
								font-size:0.5em;
							}
						}
						&.current:before{
							display: none !important;
						}
					}
				}
			}
			.landing{
				.laurels{
					top: 14%;
					width: 82%;
					max-width:initial;
				}
			}
		}
		.bird-karma{
			.static{
				margin-left: 4vw;
				.logo{
					width: 30%;
					padding-top:8%;
				}
				.menu{
					margin-top: 3%;
					width: 66%;
					.nav{
						> li.current{
							text-shadow:0px 0px 1px @yellow;
						}
						li.current{
							color: #fff;
							> .sub-nav > li.current{
								color: #fff;
							}
						}
					}
				}
			}
			
			.left.col{
				padding-left:3%;
			}
			.landing{
				.laurels{
				    width: 66%;
				    max-width: inherit;
				    top: 18%;
				}
			}
		}
	}
}