@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium.woff2') format('woff2'),
		url('../fonts/Gotham-Medium.woff') format('woff'),
		url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Bold.woff2') format('woff2'),
		url('../fonts/Gotham-Bold.woff') format('woff'),
		url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Book.woff2') format('woff2'),
		url('../fonts/Gotham-Book.woff') format('woff'),
		url('../fonts/Gotham-Book.ttf') format('truetype'),
		url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
	font-weight: 400;
	font-style: normal;
}

// @font-face {
// 	font-family: 'Gotham';
// 	src: url('../fonts/Gotham-Light.eot');
// 	src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/Gotham-Light.woff2') format('woff2'),
// 		url('../fonts/Gotham-Light.woff') format('woff'),
// 		url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
// 	font-weight: 300;
// 	font-style: normal;
// }
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamExtraLight.eot');
	src: url('../fonts/GothamExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamExtraLight.woff2') format('woff2'),
		url('../fonts/GothamExtraLight.woff') format('woff'),
		url('../fonts/GothamExtraLight.svg#Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
html{
	height: 100%;
}
body{
	padding: 0;
	margin:0;
	background: url(../img/bg.jpg) no-repeat;
	background-size:cover;
	min-height:100%;
	font-family:'Gotham';
}
header{
	background: #fff;
	height: 10.8vw;
	position: relative;
	box-shadow:0px 11px 28px 11px #00000054;
	.logo{
		background: url(../img/dwa_logo.png) no-repeat;
		background-size:100% auto;
		width: 0px;
		height: 79.8%;
	    padding-left: 8.6%;
	    top: 8%;
	    position: absolute;
	    left: 30.54%;
	    a{
	    	display: block;
	    }
	}
	.text{
		color: #092e6e;
		position: absolute;
		&.fyc{
			font-weight:bold;
			left: 40.5%;
			top: 56.1%;
			font-size:1.97vw;

		}
		&.awards{
			left: 40.5%;
			top: 25%;
			font-size:4vw;
			font-weight:300;
		}
	}

}