@blue: #092e6e;
@yellow: #f1b208;
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium.woff2') format('woff2'),
		url('../fonts/Gotham-Medium.woff') format('woff'),
		url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Bold.woff2') format('woff2'),
		url('../fonts/Gotham-Bold.woff') format('woff'),
		url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Book.woff2') format('woff2'),
		url('../fonts/Gotham-Book.woff') format('woff'),
		url('../fonts/Gotham-Book.ttf') format('truetype'),
		url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Black.eot');
	src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Black.woff2') format('woff2'),
		url('../fonts/Gotham-Black.woff') format('woff'),
		url('../fonts/Gotham-Black.ttf') format('truetype'),
		url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
	font-weight: 800;
	font-style: normal;
}

// @font-face {
// 	font-family: 'Gotham';
// 	src: url('../fonts/Gotham-Light.eot');
// 	src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/Gotham-Light.woff2') format('woff2'),
// 		url('../fonts/Gotham-Light.woff') format('woff'),
// 		url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
// 	font-weight: 300;
// 	font-style: normal;
// }
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamExtraLight.eot');
	src: url('../fonts/GothamExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamExtraLight.woff2') format('woff2'),
		url('../fonts/GothamExtraLight.woff') format('woff'),
		url('../fonts/GothamExtraLight.svg#Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
html{
	height: 100%;
	overflow: hidden;
}
body{
	padding: 0;
	margin:0;
	background: url(../img/bg.jpg) no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-color:#9fafca;
	height:100%;
	font-family:'Gotham';
	-webkit-font-smoothing: antialiased;
}
*::-webkit-scrollbar {
  width: 14px;
  position: fixed;
  right: 0
 }

*::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: padding-box; }

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0); }
 
*::-webkit-scrollbar-thumb {
  background-color: #d8d8d84d;
  border-radius: 14px;
  opacity: 0.77; }
img{
	width: 100%;
	height: auto;
	display: block;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
	text-align:left;
}
img.tall{
	width: auto;
	height: 100%;

}
header.flipped {
	height: 6vw;
	.flipper{
		transform:rotateX(180deg);
	}
}
header{
	z-index: 1000;
	height: 10.8vw;
	position: fixed;
	width: 100%;
	transform:rotateX(0deg);
	transition: height 0.6s;
	.flipper{
		transform-style: preserve-3d;
		transition: 0.6s;
		height: 100%;
		
		.front,.back{
			backface-visibility: hidden;
			box-shadow:0px 11px 28px 11px #00000054;
			position: absolute;
			height: 100%;
			left: 0;
			width: 100%;
			
		}
	}
	.front{
		transform:rotateX(0deg);
		z-index: 2;
		background: #fff;
		
		top: 0;
		.logo{
			background: url(../img/dwa_logo.png) no-repeat;
			background-size:100% auto;
			width: 0px;
			height: 79.8%;
		    padding-left: 8.6%;
		    top: 8%;
		    position: absolute;
		    left: 30.54%;
		    a{
		    	display: block;
		    }
		}
		.text{
			color: #092e6e;
			position: absolute;
			&.fyc{
				font-weight:bold;
				left: 40.5%;
				top: 56.1%;
				font-size:1.97vw;

			}
			&.awards{
				left: 40.5%;
				top: 25%;
				font-size:4vw;
				font-weight:300;
			}
		}
	}
	.back{
		transform:rotateX(180deg);
		background: #fff;
		
		bottom: 0;
		.logo{
			background: url(../img/dwa_horizontal.png) no-repeat;
			background-size:100% auto;
			width: 0px;
			height: 100%;
		    padding-left: 22vw;
		    top: 0%;
		   	position: relative;
		    background-position:50%;
		    margin-left: 7.54vw;
		    display: inline-block;
		    a{
		    	display: block;
		    	position: absolute;
		    	width: 100%;
		    	height: 100%;
		    	left: 0;
		    }
		}
		.film-menu{
			display: inline-block;
			margin-left:6vw;
			line-height: 6vw;
			vertical-align: top;
		    font-weight: 800;
		    color: @blue;
		    width: 25vw;
		    font-size: 1.3vw;
		    letter-spacing: 4px;
		    margin-right:4vw;
			
			> div {
				display: inline-block;
				margin-right:2vw;
				cursor: pointer;
				&:last-child{
					margin: 0;
				}
				&.active{
					color: @yellow;
				}
			}
		}
		.text{
			color: #b3b3b3;
			position: relative;
			display:inline-block;
			line-height:6vw;
			vertical-align: top;

			&.fyc{
				font-weight:800;
				font-size:1.4vw;

			}
			&.awards{
				font-size:1.3vw;
				font-weight:400;
				margin-right:0.3v%;
			}
		}
	}
}
.content{
	overflow-y: auto;
	position: relative;
	//height:~'calc(100% - 10.8vw)';
	height:100%;
	text-align:center;
	transition: height 0.6s;
	&.flipped{
		//height:~'calc(100% - 6vw)';
	}
	.page{
		width: 100%;
		min-height: ~'calc(100% - 6vw)';
		position: absolute;
		top: 0;
		padding-top:6vw;
		display: none;
		.logo{
		    height: 0;
		    margin-left: 8%;
		    margin-top: 3%;
		    
		}
		.col{
			position: relative;
			float: left;
			margin-top: 1%;
			&.left{
				width: 19%;
				margin-left: 4%;
				
				.menu{
					width:59%;
					margin:0 auto;
					.nav{
						color:@blue;
						font-weight:800;
						font-size:1vw;
						> li.current{
							padding-left:8%;
							&:before{
								content:"";
								background: @blue;
							    width: 4%;
							    height: 0.7em;
							    top: 7%;
							    left: 0;
							    display: block;
							   	position: absolute;
							}
						}
						li{
							cursor: pointer;
							line-height:1.4em;
							position: relative;
							&.current{
								color:@yellow;
								
								
								.sub-nav{
									display: block;
									color: @blue;
									font-size:0.9em;
									> li.current{
										color:@yellow;
										
									}
									> li {
									    
									}
								}
							}
						}
						.sub-nav{
							display: none;
						}
					}
				}
				
			}
			&.right{
				width: 65%;
				> div{
					display: none;
					position: absolute;
					top: 0;
					width: 100%;
				}
				.filmmakers{
					display: block;
					>div{
						display: none;
						position: absolute;
						top:0;
						width: 100%;
					}
					>div:first-child{
						display: block;
					}
					.maker-photo{
						width:30%;
						display: inline-block;

					}
					.bio{
						font-size:1.1vw;
						h4{
							margin-top:1%;
						}
						display: inline-block;
						width: 60%;
						text-align:left;
						color: #1a3464;
					    margin-left: 3%;
					}
				}
			}
		}
	}
	.home{
		overflow: hidden;
		min-height: ~'calc(100% - 10.8vw)';
		display: block;
		padding-top:10.8vw;
		h3{
			color:#fff;
			font-weight:400;
			font-size:2.4vw;
			margin:2% 0 0;
			text-shadow: 1px 1px 1px #00000075;
		}
		.poster{
			height: 45vw;
			margin-top:2%;
			display: inline-block;
			box-shadow:8px 12px 24px 0px #0000007d;
			transition: transform 1s;
			cursor: pointer;
			&#bird-karma{
				margin-right: 7%;
			}
			&:hover{
				transform:scale(1.08);
			}
		}
	}
	.bilby{
		background: url(../img/bilby/bilby-bg.jpg) no-repeat;
		background-size:cover;
		background-position:bottom;
		.logo{
		    width: 10%;
		    padding-top: 6%;
		    background: url(../img/bilby/bilby-tt.png) no-repeat;
		    background-size: 100%;
		    background-position: 50%;
		}
		.col{
			position: relative;
			float: left;
			margin-top: 1%;
			&.left{
				width: 19%;
				margin-left: 4%;
				
				.menu{
					width:59%;
					margin:0 auto;
					.nav{
						color:@blue;
						font-weight:800;
						font-size:1vw;
						> li.current{
							padding-left:8%;
							&:before{
								content:"";
								background: @blue;
							    width: 4%;
							    height: 1em;
							    top: 4%;
							    left: 0;
							    display: block;
							   	position: absolute;
							}
						}
						li{
							cursor: pointer;
							line-height:1.4em;
							position: relative;
							&.current{
								color:@yellow;
								
								
								.sub-nav{
									display: block;
									color: @blue;
									font-size:0.9em;
									> li.current{
										color:@yellow;
										
									}
									> li {
									    
									}
								}
							}
						}
						.sub-nav{
							display: none;
						}
					}
				}
				
			}
			&.right{
				width: 65%;
				> div{
					display: none;
					position: absolute;
					top: 0;
					width: 100%;
				}
				.filmmakers{
					display: block;
					>div{
						display: none;
						position: absolute;
						top:0;
						width: 100%;
					}
					>div:first-child{
						display: block;
					}
					.maker-photo{
						width:30%;
						display: inline-block;

					}
					.bio{
						font-size:1.1vw;
						h4{
							margin-top:1%;
						}
						display: inline-block;
						width: 60%;
						text-align:left;
						color: #1a3464;
					    margin-left: 3%;
					}
				}
			}
		}
	}
	.bird-karma{
		background: url(../img/bird-karma/bk-bg.jpg) no-repeat;
		background-size:cover;
		background-position:bottom;
		.logo{
			margin-left:7%;
			width: 25%;
			padding-top: 6%;
			background: url(../img/bird-karma/bird-karma_tt2.png) no-repeat;
			background-size:100%;
		}
		.col.right{
			.filmmakers .bio{
				vertical-align: top;
			}
		}
	}
}