@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.eot');
  src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Black.woff2') format('woff2'), url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf') format('truetype'), url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamExtraLight.eot');
  src: url('../fonts/GothamExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamExtraLight.woff2') format('woff2'), url('../fonts/GothamExtraLight.woff') format('woff'), url('../fonts/GothamExtraLight.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  font-family: 'Gotham';
  -webkit-font-smoothing: antialiased;
}
*::-webkit-scrollbar {
  width: 14px;
  position: fixed;
  right: 0;
}
*::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
}
*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: #d8d8d84d;
  border-radius: 14px;
  opacity: 0.77;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
img.tall {
  width: auto;
  height: 100%;
}
header.flipped {
  height: 6vw;
}
header.flipped .flipper {
  transform: rotateX(180deg);
}
header {
  z-index: 1000;
  height: 10.8vw;
  position: relative;
  transform: rotateX(0deg);
  transition: height 0.6s;
}
header .flipper {
  transform-style: preserve-3d;
  transition: 0.6s;
  height: 100%;
}
header .flipper .front,
header .flipper .back {
  backface-visibility: hidden;
  box-shadow: 0px 11px 28px 11px #00000054;
  position: absolute;
  height: 100%;
  left: 0;
  width: 100%;
}
header .front {
  transform: rotateX(0deg);
  z-index: 2;
  background: #fff;
  top: 0;
}
header .front .logo {
  background: url(../img/dwa_logo.png) no-repeat;
  background-size: 100% auto;
  width: 0px;
  height: 79.8%;
  padding-left: 8.6%;
  top: 8%;
  position: absolute;
  left: 30.54%;
}
header .front .logo a {
  display: block;
}
header .front .text {
  color: #092e6e;
  position: absolute;
}
header .front .text.fyc {
  font-weight: bold;
  left: 40.5%;
  top: 56.1%;
  font-size: 1.97vw;
}
header .front .text.awards {
  left: 40.5%;
  top: 25%;
  font-size: 4vw;
  font-weight: 300;
}
header .back {
  transform: rotateX(180deg);
  background: #fff;
  bottom: 0;
}
header .back .logo {
  background: url(../img/dwa_logo.png) no-repeat;
  background-size: 100% auto;
  width: 0px;
  height: 38.3%;
  padding-left: 4%;
  top: 8%;
  position: absolute;
  left: 7.54%;
}
header .back .logo a {
  display: block;
}
header .back .text {
  color: #092e6e;
  position: absolute;
}
header .back .text.fyc {
  font-weight: bold;
  left: 40.5%;
  top: 56.1%;
  font-size: 1.97vw;
}
header .back .text.awards {
  left: 40.5%;
  top: 25%;
  font-size: 2vw;
  font-weight: 300;
}
.content {
  overflow-y: auto;
  position: relative;
  height: calc(100% - 10.8vw);
  text-align: center;
  transition: height 0.6s;
}
.content.flipped {
  height: calc(100% - 6vw);
}
.content .page {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  display: none;
}
.content .home {
  overflow: hidden;
  height: 100%;
  display: block;
}
.content .home h3 {
  color: #fff;
  font-weight: 400;
  font-size: 2.4vw;
  margin: 2% 0 0;
  text-shadow: 1px 1px 1px #00000075;
}
.content .home .poster {
  height: 76%;
  margin-top: 2%;
  display: inline-block;
  box-shadow: 8px 12px 24px 0px #0000007d;
  transition: transform 1s;
  cursor: pointer;
}
.content .home .poster#bird-karma {
  margin-right: 7%;
}
.content .home .poster:hover {
  transform: scale(1.08);
}
.content .bilby {
  background: url(../img/bilby/bilby-bg.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}
.content .bilby .logo {
  height: 0;
  margin-left: 8%;
  width: 10%;
  margin-top: 3%;
  padding-top: 6%;
  background: url(../img/bilby/bilby-tt.png) no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.content .bilby .col {
  position: relative;
  float: left;
  margin-top: 1%;
}
.content .bilby .col.left {
  width: 19%;
  margin-left: 4%;
}
.content .bilby .col.left .menu {
  width: 59%;
  margin: 0 auto;
}
.content .bilby .col.left .menu .nav {
  color: #092e6e;
  font-weight: 800;
  font-size: 1vw;
}
.content .bilby .col.left .menu .nav > li.current:before {
  content: "";
  background: #092e6e;
  width: 4%;
  height: 11px;
  display: inline-block;
  margin-right: 4%;
}
.content .bilby .col.left .menu .nav li {
  cursor: pointer;
  line-height: 1.4em;
}
.content .bilby .col.left .menu .nav li.current {
  color: #f1b208;
}
.content .bilby .col.left .menu .nav li.current .sub-nav {
  display: block;
  color: #092e6e;
  font-size: 0.9em;
}
.content .bilby .col.left .menu .nav li.current .sub-nav > li.current {
  color: #f1b208;
}
.content .bilby .col.left .menu .nav li.current .sub-nav > li {
  padding: 0 0 0 8%;
}
.content .bilby .col.left .menu .nav .sub-nav {
  display: none;
}
.content .bilby .col.right {
  width: 65%;
}
.content .bilby .col.right .filmmakers .maker-photo {
  width: 30%;
  display: inline-block;
}
.content .bilby .col.right .filmmakers .bio {
  font-size: 1.1vw;
  display: inline-block;
  width: 60%;
  text-align: left;
  color: #1a3464;
  margin-left: 3%;
}
.content .bilby .col.right .filmmakers .bio h4 {
  margin-top: 1%;
}
